.blur-tree-page {
    background: rgba(22, 41, 41, 0.5);
    backdrop-filter: blur(3px);
    height: 100%;
    min-height: calc(100vh - 140px);
    width: 100%;
    display: flex;
    justify-content: center;
    animation-duration: 1s;
    animation-name: slideinUp;
}

.tree-page-wrap {
    display: flex;
    width: 1600px;
    justify-content: space-between;
    margin-top: 20px;
}

.left-setting,
.right-setting {
    width: 365px;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.tree-wrap {
    width: 760px;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.music-snow-wrap {
    width: 90%;
    margin-top: 20px;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.music-wrap {
    width: 210px;
    display: flex;
    justify-content: space-between;
}

.music,
.snow {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: .5s;
}

.music:hover,
.snow:hover {
   opacity: 0.8; 
   transition: .5s;
}

.music {
    background-image: url('./../../assets/svg/audio.svg');
}

.snow {
    background-image: url('./../../assets/svg/snow.svg');  
}

.music-select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 150px;
    height: 40px;
    padding-left: 20px;
    background-color: rgba(31, 112, 127, .3);
    background-image: url(../../assets/svg/arrow-down.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 340px center;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid #278D9F;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    cursor: pointer;;
    transition: 1s;
}

.music-select option {
    color: inherit;
    background-color: #183E42;
    transition: 1s;
}

.trees-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
}

.tree-icon {
    width: 115px;
    height: 115px;
    border-radius: 10px;
    border: 3px solid #278D9F;
    border-radius: 25px;
    background-color: rgba(148, 226, 238, 0.6);
    backdrop-filter: blur(6px);
    background-position: center;
    background-size: auto 105px;
    background-repeat: no-repeat;
}

.tree-icon:hover {
border: 3px solid white;
}


.trees-wrap div:nth-child(1) {
    background-image: url(./../../assets/img/tree/1.png);
}

.trees-wrap div:nth-child(2) {
    background-image: url(./../../assets/img/tree/2.png);
}

.trees-wrap div:nth-child(3) {
    background-image: url(./../../assets/img/tree/3.png);
}

.trees-wrap div:nth-child(4) {
    background-image: url(./../../assets/img/tree/4.png);
}

.trees-wrap div:nth-child(5) {
    background-image: url(./../../assets/img/tree/5.png);
}

.trees-wrap div:nth-child(6) {
    background-image: url(./../../assets/img/tree/6.png);
}

.background-icon-collection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
}

.background-icon {
    width: 65px;
    height: 65px;
    border: 1px solid #cccc;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: .7;
    
}

.background-icon:hover {
    border: 1px solid white;
}

@keyframes bg-slider-up {
    from {margin-left: -760px;}
    to {margin-left: 0;}
}

@keyframes bg-slider-down {
    from {margin-right: 0;}
    to {margin-left: -760px;}
}

.fairy-light-wrap {
     width: 100%;
     display: flex;
     flex-direction: column;
}

.fairy-light {
    display: flex;
    width: 90%;
    align-self: center;
    justify-content: space-between;
}

.fairy-light div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.fairy-light-white {
  background: radial-gradient(circle closest-side at 50% 50%, #fff, rgba(0, 0, 0, 0));
}

.fairy-light-white:hover {
 background: radial-gradient(circle closest-side at 50% 50%, #fff 40%, rgba(0, 0, 0, 0) 120%);
}

.fairy-light-yellow {
     background: radial-gradient(circle closest-side at 40% 40%, yellow, rgba(0, 0, 0, 0));
}

.fairy-light-yellow:hover {
     background: radial-gradient(circle closest-side at 40% 40%, yellow 40%, rgba(0, 0, 0, 0) 120%);
}

.fairy-light-red {
      background: radial-gradient(circle closest-side at 50% 50%, red, rgba(0, 0, 0, 0));
}

.fairy-light-red:hover {
    background: radial-gradient(circle closest-side at 40% 40%, red 40%, rgba(0, 0, 0, 0) 120%);
}

.fairy-light-blue {
    background: radial-gradient(circle closest-side at 50% 50%, rgb(185, 185, 250), rgba(0, 0, 0, 0));
}

.fairy-light-blue:hover {
    background: radial-gradient(circle closest-side at 40% 40%, rgb(199, 199, 250) 40%, rgba(0, 0, 0, 0) 120%);
}

.fairy-light-green {
    background: radial-gradient(circle closest-side at 50% 50%, #ABFF00, rgba(0, 0, 0, 0));
}

.fairy-light-green:hover {
    background: radial-gradient(circle closest-side at 40% 40%, #ABFF00 40%, rgba(0, 0, 0, 0) 120%);
}

.game-toy-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

.toy-item {
    display: flex;
    width: 75px;
    height: 75px;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid #278D9F;
    background-color: rgba(31, 112, 127, .6);
    backdrop-filter: blur(6px);
}

area {
    background: wheat;
}

.toy-item-img {
    width: 60px;
    height: 60px;
    align-self: center;
    cursor: pointer;
}

.item-count {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: end;
    position: absolute;
    align-self: flex-end;
    margin-left: 45px;
    margin-bottom: 3px;
    /* -webkit-margin-after: 0;
    margin-block-end: 0; */
    text-align: end;
}

@media (max-width: 1620px) {
.game-toy-set-wrap .controls-title {
    display: none;
}
.game-toy-set {
    width: 235px;
    justify-content: flex-start;
    gap: 5px;
    margin-left: 5px;
    
}
}

@media (max-width: 1250px) {

.game-toy-set {
    width: 165px;
    gap: 2px;
    
}
}
